#rezerwacja
{
	margin: 100px 0 150px;
	
	& > .popup{
		position: fixed;
		padding: 50px 20px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: transparentize( $color-dark, 0.2 );
		
		& > .box{
			padding: 22px 28px;
			max-height: 100%;
			overflow: auto;
			
			& > .segment{
				padding: 8px;
				/* width: 300px; */
				background:{
					clip: content-box;
					origin: content-box;
				};
				
				.line{
					height: initial;
					
					&:not(:last-child){
						margin-bottom: 10px;
						
					}
					
				}
				
				.info, .value{
					padding: 5px 10px 10px;
					
				}
				
				.calculate::after{
					content: ' zł';
					
				}
				
				.calculate::before{
					content: 'Suma:';
					padding-right: 5px;
					
				}
				
				.slider{
					position: relative;
					height: 10px;
					margin: 20px;
					background-color: silver;
					
				}
				
				.input{
					padding: 10px 20px;
					border: solid 1px $color-gray-light2;
					line-height: 30px;
					@extend .bold;
					resize: none;
					transition: background .3s linear;
					
					&.valid{
						background-color: lightgreen;
						
					}
					
					&.invalid{
						background-color: lightcoral;
						
					}
					
				}
				
				&.head{
					
					& > .type{
						padding: 10px;
						font-size: 22px;
						
					}
					
				}
				
				&.body{
					overflow: auto;
					
					form{
						
						textarea{
							height: 200px;
							
						}
						
					}
					
				}
				
				&.foot{
					
					& > .btn{
						margin: 5px 0;
						padding: 10px;
						border-radius: 10px;
						transition-property: background, font;
						transition: 0.3s linear;
						box-shadow: 0 0 0 2px #fff inset;
						
						&:hover{
							background-color: transparent;
							color: #fff;
							
						}
						
					}
					
					& > .msg{
						line-height: 30px;
						max-width: 300px;
						cursor: pointer;
						
						&.success{
							color: lightgreen;
							
						}
						
						&.fail{
							color: lightcoral;
							
						}
						
					}
					
				}
				
			}
			
		}
		
		&:not(.open){
			display: none;
			
		}
		
	}
	
	& > .top{
		font-size: 30px;
		margin-bottom: 50px;
		
	}
	
	& > .bot{
		position: relative;
		
		& > .view{
			overflow: hidden;
			
			& > .etap{
				width: 100%;
				
				&.date{
					
					& > .head{
						
						& > *{
							margin: 10px 0;
							
						}
						
						& > .today{
							width: 140px;
							font-size: 20px;
							
						}
						
						& > .button{
							height: 42px;
							padding: 0 20px;
							border-radius: 21px;
							font-size: 12px;
							
						}
						
						& > .month{
							
							& > .nav{
								height: 30px;
								padding: 0 20px;
								
								& > .icon{
									
								}
								
								&.prev{
									border-radius: 20px 0 0 20px;
									
								}
								
								&.next{
									border-radius: 0 20px 20px 0;
									
								}
								
							}
							
							& > .name{
								margin: 10px 0;
								padding: 0 20px;
								min-width: 230px;
								font-size: 22px;
								order: -1;
								
								@media( min-width: map-get( $bpw, tablet ) ){
									order: 0;
									
								}
								
							}
							
						}
						
					}
					
					& > .body{
						
						.cell{
							min-height: 60px;
							
						}
						
						& > .side{
							border-right: solid 1px $color-gray;
							
							& > .cell{
								
								&.hour{
									position: relative;
									padding: 12px;
									border: solid $color-gray;
									border-width: 1px 0 0 1px;
									
									&:last-child{
										border-width: 1px 0 1px 1px;
										
									}
									
									&::before{
										content: '';
										position: absolute;
										left: 0;
										bottom: -1px;
										width: 100vw;
										border-bottom: solid 1px $color-gray;
										
									}
									
								}
							
							}
							
						}
						
						& > .content{
							width: 100%;
							overflow: hidden;
							
							& > .day{
								min-width: 100px;
								
								& > .cell{
									
									&.name{
										border: solid $color-gray;
										border-width: 1px 1px 0 1px;
										
									}
									
									&.day{
										position: relative;
										height: 960px;
										border: solid 1px $color-gray;
										overflow: hidden;
										
										& > .termin{
											position: absolute;
											margin: 0 10px;
											left: 0;
											right: 0;
											
											&.busy{
												background-color: gray;
												border: 1px white;
												border-style: dashed none;
												
												&, & *{
													cursor: not-allowed;
													
												}
												
												.range{
													color: #fff;
													
												}
												
												&::before{
													content: "\f05e";
													
												}
												
											}
											
											&.free{
												background-color: hsl( 110, 70%, 50% );
												
												&, & *{
													cursor: pointer;
													
												}
												
												.range{
													color: navy;
													
												}
												
												&::before{
													content: "\f067";
													
												}
												
											}
											
											&::before{
												content: "";
												position: absolute;
												top: 50%;
												left: 50%;
												color: white;
												font: normal normal normal 14px/1 FontAwesome;
												font-size: 20px;
												transform: translate(-50%,0%);
												
											}
											
										}
										
									}
									
								}
								
								&:nth-child(even){
									background-color: #eee;
									
								}
								
							}
							
						}
						
					}
					
				}
				
				&.summary{
					
					.button{
						min-height: 46px;
						padding: 10px 46px;
						border-radius: 23px;
						
					}
					
					& > .title{
						margin-bottom: 20px;
						max-width: 100%;
						font-size: 34px;
						
					}
					
					& > .subtitle{
						margin-bottom: 80px;
						max-width: 100%;
						font-size: 25px;
						
					}
					
					& > .table{
						padding: 32px;
						width: 100%;
						max-width: 720px;
						border: solid 1px $color-gray;
						
						.title{
							margin-bottom: 20px;
							font-size: 22px;
							
						}
						
						.subtitle{
							margin-bottom: 20px;
							font-size: 16px;
							
						}
						
						& > .tcell{
							
							&.right{
								border-left: solid 1px $color-gray;
								
							}
							
						}
						
					}
					
					& > .button{
						margin-top: 70px;
						
					}
					
				}
				
			}
			
			@media( min-width: map-get( $bpw, tablet ) ){
				margin-right: 20px;
				
			}
			
		}
			
	}
	
}