#rezerwacja{
	margin: 100px 0 150px;
	
	& > .popup{
		position: fixed;
		padding: 50px 20px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: transparentize( $color-dark, 0.2 );
		
		& > .box{
			position: relative;
			padding: 10px;
			
			& > .close{
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				
			}
			
			& > .head{
				margin: 20px 0 30px;
				font-size: 30px;
				
			}
			
			& > .body{
				
				& > .pora{
					padding: 0 10px;
					
					& > .title{
						
					}
					
					& > .item{
						margin-top: 10px;
						padding: 5px 0;
						border: solid 1px $color-dark;
						
					}
					
				}
				
			}
			
		}
		
		&:not(.open){
			display: none;
			
		}
		
	}
	
	& > .top{
		font-size: 30px;
		margin-bottom: 50px;
		
	}
	
	& > .bot{
		position: relative;
		
		& > .view{
			margin-right: 20px;
			overflow: hidden;
			
			& > .etap{
				
				&.data{
					
					& > .head{
						
						& > .today{
							width: 140px;
							font-size: 20px;
							
						}
						
						& > .button{
							height: 42px;
							padding: 0 20px;
							border-radius: 21px;
							font-size: 12px;
							
						}
						
						& > .month{
							
							& > .nav{
								height: 30px;
								padding: 0 20px;
								
								& > .icon{
									
								}
								
								&.prev{
									border-radius: 20px 0 0 20px;
									
								}
								
								&.next{
									border-radius: 0 20px 20px 0;
									
								}
								
							}
							
							& > .name{
								padding: 0 20px;
								min-width: 230px;
								font-size: 26px;
								
							}
							
						}
						
					}
					
					& > .body{
						
						.tcell{
							height: 64px;
							
						}
						
						& > .thead{
							
							& > .tcell{
								padding-bottom: 10px;
								
							}
							
						}
						
						& > .tbody{
							
							& > .tcell{
								box-shadow: 0 0 0 1px $color-gray inset;
								transition: border .3s linear;
								
								& > .text{
									margin: 12px 0 0 12px;
									
								}
								
								&.disable{
									cursor: no-drop;
									
									& > .text{
										cursor: inherit;
										opacity: 0.4;
										
									}
									
								}
								
								&:not( .disable ){
									
									&, & *{
										cursor: pointer;
										
									}
									
								}
								
								&:not( .disable ):hover{
									border-color: $color-blue-dark;
									
								}
								
								&.today{
									
									& > .text{
										position: relative;
										
										&::after{
											content: '';
											position: absolute;
											margin-top: 3px;
											width: 17px;
											height: 2px;
											top: 100%;
											left: 0;
											background-color: $color-blue-dark;
											
										}
										
									}
									
								}
								
							}
							
						}
						
					}
					
				}
				
				&.form{
					
					& > .title{
						margin-bottom: 38px;
						font-size: 22px;
						
					}
					
					& > form.form{
						max-width: 640px;
						
						& > .label{
							margin: 16px 0;
							font-size: 16px;
						}
						
						& > .input{
							margin-bottom: 10px;
							padding: 0 28px;
							height: 46px;
							font-size: 14px;
							border: solid 1px $color-gray;
							
						}
						
						& > .textarea{
							padding: 30px 20px;
							height: 170px;
							border: solid 1px $color-gray;
							line-height: 26px;
							resize: none;
							
						}
						
					}
					
				}
				
				&.summary{
					
					.button{
						height: 46px;
						padding: 0 46px;
						border-radius: 23px;
						
					}
					
					& > .title{
						margin-bottom: 20px;
						max-width: 100%;
						font-size: 34px;
						
					}
					
					& > .subtitle{
						margin-bottom: 80px;
						max-width: 100%;
						font-size: 25px;
						
					}
					
					& > .table{
						padding: 32px;
						width: 100%;
						max-width: 720px;
						border: solid 1px $color-gray;
						
						.title{
							margin-bottom: 20px;
							font-size: 22px;
							
						}
						
						.subtitle{
							margin-bottom: 20px;
							font-size: 16px;
							
						}
						
						& > .tcell{
							
							&.right{
								border-left: solid 1px $color-gray;
								
							}
							
						}
						
					}
					
					& > .button{
						margin-top: 70px;
						
					}
					
				}
				
			}
			
		}
		
		& > .side{
			padding: 26px 30px 50px;
			
			& > .segment{
				min-width: 294px;
				padding: 0 20px;
				
			}
			
			& > .top{
				height: 140px;
				margin-bottom: 20px;
				
				& > .title{
					line-height: 33px;
					font-size: 22px;
					
				}
				
				& > .cena{
					margin-top: 13px;
					font-size: 16px;
				}
				
			}
			
			& > .bot{
				height: 100px;
				margin-bottom: 50px;
				
				& > .text{
					line-height: 34px;
					
				}
				
			}
			
			& > .button{
				min-width: 194px;
				height: 44px;
				padding: 0 35px;
				border-radius: 22px;
				line-height: 24px;
				font-size: 16px;
				
				& > .title{
					
				}
				
				& > .icon{
					font-size: 30px;
					
				}
				
			}
			
		}
		
	}
	
}