// ustawienia i predef
$bpw: (
	smart: 300px,
	tablet: 768px,
	laptop: 1024px,
	desktop: 1280px,
	large: 1600px,
	wide: 1920px
);

*{
	
}

body{
	
	&.spaceTop{
		padding-top: 90px;
		
		&.admin{
			padding-top: 136px;
			
			@media(min-width: 783px){
				padding-top: 122px;
				
			}
			
		}
		
	}
	
	&.admin{
		
		.main-nav{
			margin-top: 46px;
			
			@media(min-width: 783px){
				margin-top: 32px;
				
			}
			
		}		
		
	}
	
	&.mobile{
		
		.main-nav{
			
			.call{
				display: block;
				
				& > a{
					position: relative;
					
					& > .icon{
						max-height: 40px;
						margin-bottom: 10px;
						
					}
					
					& > .text{
						
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

.main-nav{
	top: 0;
	
	.call{
		display: none;
		
	}
	
}

.grid{
	max-width: 1240px;
	padding: 0 20px;
	
}

.hitbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.regular{
	font-family: 'Raleway-Regular';
	
	&.alt{
		font-family: 'Montserrat-Regular';
		
	}
	
}

.medium{
	font-family: 'Raleway-Medium';
	
	&.alt{
		font-family: 'Montserrat-Medium';
		
	}
	
}

.bold{
	font-family: 'Raleway-Bold';
	
	&.alt{
		font-family: 'Montserrat-Bold';
		
	}
	
}

.extraBold{
	font-family: 'Raleway-ExtraBold';
	
	&.alt{
		font-family: 'Montserrat-ExtraBold';
		
	}
	
}

.pointer{
	&, & *{
		cursor: pointer;
		
	}
	
}

ul.navigation > li{
	
	@media ( min-width: map-get( $bpw, laptop ) ){
		min-height: initial;
		
	}
	
}
