#spotkania{
	margin-top: 60px;
	padding: 50px 0;
	
	& > .kafelki{
		min-height: 1000px;
		padding: 0;
		
		& > .item{
			
			& > .box{
				padding: 50px;
				
				& > .head{
					position: relative;
					padding: 40px 20px;
					height: 365px;
					
					& > .status{
						position: absolute;
						width: 40px;
						height: 40px;
						top: 0;
						right: 0;
						font-size: 30px;
						
						& > .icon{
							
							&:not(.wait){
								display: none;
								
							}
							
						}
						
					}
					
					& > .title{
						margin-bottom: 20px;
						font-size: 32px;
						
					}
					
					& > .subtitle{
						margin-bottom: 56px;
						font-size: 24px;
						
					}
					
					& > .box{
						width: 160px;
						height: 50px;
						border: solid 2px rgba(255,255,255,0.5);
						font-size: 24px;
						
					}
					
				}
				
				& > .body{
					
					& > .line{
						padding: 10px 30px;
						min-height: 60px;
						height: initial;
						font-size: 14px;
						
						& > *{
							line-height: 30px;
							
						}
						
						&:nth-child(even){
							border: solid 2px $color-gray-light2;
							background-color: $color-gray-light;
							
						}
						
					}
					
				}
				
				& > .foot{
					margin: 15px 0;
					
					& > .button{
						margin: 15px 0;
						padding: 0 30px;
						height: 50px;
						border-radius: 25px;
						
					}
					
				}
				
			}
			
			&.accepted{
				
				& > .box{
					
					& > .head{
						background-color: $color-green;
						
						& > .status{
							
							& > .icon{
								display: block;
								
								&:not(.accept){
									display: none;
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}