@charset "UTF-8";
.font-light {
  color: #fff; }

.bg-light {
  background-color: #fff; }

.font-dark {
  color: #000; }

.bg-dark {
  background-color: #000; }

.font-blue-dark {
  color: #080d35; }

.bg-blue-dark {
  background-color: #080d35; }

.font-blue-dark2 {
  color: #0e1235; }

.bg-blue-dark2 {
  background-color: #0e1235; }

.font-violet {
  color: #2f3083; }

.bg-violet {
  background-color: #2f3083; }

.font-violet-light {
  color: #5056a4; }

.bg-violet-light {
  background-color: #5056a4; }

.font-pink {
  color: #ed1e4a; }

.bg-pink {
  background-color: #ed1e4a; }

.font-green {
  color: #35b896; }

.bg-green {
  background-color: #35b896; }

.font-gray {
  color: #e8e6e7; }

.bg-gray {
  background-color: #e8e6e7; }

.font-gray-light {
  color: #ededed; }

.bg-gray-light {
  background-color: #ededed; }

.font-gray-dark {
  color: #3d3d3d; }

.bg-gray-dark {
  background-color: #3d3d3d; }

body.spaceTop {
  padding-top: 90px; }
  body.spaceTop.admin {
    padding-top: 136px; }
    @media (min-width: 783px) {
      body.spaceTop.admin {
        padding-top: 122px; } }
body.admin .main-nav {
  margin-top: 46px; }
  @media (min-width: 783px) {
    body.admin .main-nav {
      margin-top: 32px; } }
body.mobile .main-nav .call {
  display: block; }
  body.mobile .main-nav .call > a {
    position: relative; }
    body.mobile .main-nav .call > a > .icon {
      max-height: 40px;
      margin-bottom: 10px; }

.main-nav {
  top: 0; }
  .main-nav .call {
    display: none; }

.grid {
  max-width: 1240px;
  padding: 0 20px; }

.hitbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.regular {
  font-family: 'Raleway-Regular'; }
  .regular.alt {
    font-family: 'Montserrat-Regular'; }

.medium {
  font-family: 'Raleway-Medium'; }
  .medium.alt {
    font-family: 'Montserrat-Medium'; }

.bold, #rezerwacja > .popup > .box > .segment .input {
  font-family: 'Raleway-Bold'; }
  .bold.alt, #rezerwacja > .popup > .box > .segment .alt.input {
    font-family: 'Montserrat-Bold'; }

.extraBold {
  font-family: 'Raleway-ExtraBold'; }
  .extraBold.alt {
    font-family: 'Montserrat-ExtraBold'; }

.pointer, .pointer * {
  cursor: pointer; }

@media (min-width: 1024px) {
  ul.navigation > li {
    min-height: initial; } }

#home > .referencje, #home > .opinie {
  padding: 80px 0 110px; }
  #home > .referencje > .box > .title, #home > .opinie > .box > .title {
    margin: auto;
    margin-bottom: 35px;
    max-width: 520px;
    font-size: 38px; }
  #home > .referencje > .box > .subtitle, #home > .opinie > .box > .subtitle {
    margin-bottom: 65px;
    font-size: 18px; }
  #home > .referencje > .box > .slider, #home > .opinie > .box > .slider {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 530px; }
    #home > .referencje > .box > .slider > .view, #home > .opinie > .box > .slider > .view {
      overflow: hidden; }
      #home > .referencje > .box > .slider > .view > .slide, #home > .opinie > .box > .slider > .view > .slide {
        position: relative;
        margin-bottom: 70px;
        padding: 30px 0 0;
        cursor: -webkit-grab; }
        #home > .referencje > .box > .slider > .view > .slide > .logo, #home > .opinie > .box > .slider > .view > .slide > .logo {
          margin-bottom: 50px;
          height: 80px;
          cursor: inherit; }
        #home > .referencje > .box > .slider > .view > .slide > .text, #home > .opinie > .box > .slider > .view > .slide > .text {
          padding: 0 20px;
          margin-bottom: 50px;
          font-style: italic;
          font-size: 16px; }
          #home > .referencje > .box > .slider > .view > .slide > .text, #home > .referencje > .box > .slider > .view > .slide > .text *, #home > .opinie > .box > .slider > .view > .slide > .text, #home > .opinie > .box > .slider > .view > .slide > .text * {
            line-height: 1.7em; }
        #home > .referencje > .box > .slider > .view > .slide > .author, #home > .opinie > .box > .slider > .view > .slide > .author {
          padding: 0 20px;
          margin-bottom: 100px;
          font-size: 15px;
          line-height: 1.7em; }
        #home > .referencje > .box > .slider > .view > .slide > .img, #home > .opinie > .box > .slider > .view > .slide > .img {
          position: absolute;
          width: 110px;
          height: 110px;
          left: 50%;
          bottom: 0;
          -webkit-transform: translate(-50%, 50%);
                  transform: translate(-50%, 50%);
          border-radius: 50%;
          -webkit-box-shadow: 0 0 0 2px #ededed;
                  box-shadow: 0 0 0 2px #ededed;
          background-color: #ededed; }
    #home > .referencje > .box > .slider > .nav, #home > .opinie > .box > .slider > .nav {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: -webkit-transform .3s linear;
      transition: -webkit-transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear; }
      #home > .referencje > .box > .slider > .nav > .icon, #home > .opinie > .box > .slider > .nav > .icon {
        width: 50px;
        height: 50px;
        font-size: 48px;
        color: #34E0CA;
        border: solid 2px #34E0CA;
        border-radius: 50%; }
      #home > .referencje > .box > .slider > .nav.prev, #home > .opinie > .box > .slider > .nav.prev {
        left: 0; }
      #home > .referencje > .box > .slider > .nav.next, #home > .opinie > .box > .slider > .nav.next {
        right: 0; }
      #home > .referencje > .box > .slider > .nav:hover, #home > .opinie > .box > .slider > .nav:hover {
        -webkit-transform: translateY(-50%) scale(1.2);
                transform: translateY(-50%) scale(1.2); }
    #home > .referencje > .box > .slider > .pagin, #home > .opinie > .box > .slider > .pagin {
      margin-top: 20px; }
      #home > .referencje > .box > .slider > .pagin > .item, #home > .opinie > .box > .slider > .pagin > .item {
        margin: 0 10px;
        padding: 2px;
        width: 16px;
        height: 16px;
        background-color: #ededed;
        background-clip: content-box;
        border: solid 1px #000;
        border-radius: 50%;
        -webkit-transition: background .3s linear;
        transition: background .3s linear; }
        #home > .referencje > .box > .slider > .pagin > .item.active, #home > .opinie > .box > .slider > .pagin > .item.active {
          background-color: #000; }
    @media (min-width: 768px) {
      #home > .referencje > .box > .slider, #home > .opinie > .box > .slider {
        padding: 0 70px; } }
#home #business-training, #home #general-training, #home #sessions-training, #home #mummy-training {
  position: relative; }
  #home #business-training > .wrapper > .box > .inner > *, #home #general-training > .wrapper > .box > .inner > *, #home #sessions-training > .wrapper > .box > .inner > *, #home #mummy-training > .wrapper > .box > .inner > * {
    max-width: 100%; }
  #home #business-training > .pagin, #home #general-training > .pagin, #home #sessions-training > .pagin, #home #mummy-training > .pagin {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px; }
    #home #business-training > .pagin > .item, #home #general-training > .pagin > .item, #home #sessions-training > .pagin > .item, #home #mummy-training > .pagin > .item {
      margin: 0 10px;
      padding: 2px;
      width: 16px;
      height: 16px;
      background-color: #ededed;
      background-clip: content-box;
      border: solid 1px #000;
      border-radius: 50%;
      -webkit-transition: background .3s linear;
      transition: background .3s linear; }
      #home #business-training > .pagin > .item.active, #home #general-training > .pagin > .item.active, #home #sessions-training > .pagin > .item.active, #home #mummy-training > .pagin > .item.active {
        background-color: #000; }
#home #contact {
  width: 100%; }
  #home #contact .status {
    margin: 20px 0;
    padding: 0 10px; }
    #home #contact .status > .icon {
      margin: 0 10px 0 0;
      font-size: 40px; }
      #home #contact .status > .icon.ok {
        color: green; }
      #home #contact .status > .icon.info {
        color: blue; }
      #home #contact .status > .icon.fail {
        color: red; }
    #home #contact .status > .text {
      padding: 0 20px;
      line-height: 30px; }
    #home #contact .status:not(.ok) > .icon.ok {
      display: none; }
    #home #contact .status:not(.info) > .icon.info {
      display: none; }
    #home #contact .status:not(.fail) > .icon.fail {
      display: none; }
  #home #contact .send {
    margin-bottom: 40px;
    height: 44px;
    width: 194px;
    background-color: #34E0CA;
    border: 0;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
    color: #223d4e;
    font-size: 12px;
    -webkit-transition: -webkit-box-shadow .3s linear;
    transition: -webkit-box-shadow .3s linear;
    transition: box-shadow .3s linear;
    transition: box-shadow .3s linear, -webkit-box-shadow .3s linear; }
    #home #contact .send:hover {
      -webkit-box-shadow: 0 0 0 3px #34E0CA;
              box-shadow: 0 0 0 3px #34E0CA; }
#home .contact > .box > .inner > .text {
  font-size: 18px; }

#rezerwacja {
  margin: 100px 0 150px; }
  #rezerwacja > .popup {
    position: fixed;
    padding: 50px 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8); }
    #rezerwacja > .popup > .box {
      padding: 22px 28px;
      max-height: 100%;
      overflow: auto; }
      #rezerwacja > .popup > .box > .segment {
        padding: 8px;
        width: 300px;
        background-clip: content-box;
        background-origin: content-box; }
        #rezerwacja > .popup > .box > .segment .line {
          height: initial; }
          #rezerwacja > .popup > .box > .segment .line:not(:last-child) {
            margin-bottom: 10px; }
        #rezerwacja > .popup > .box > .segment .info, #rezerwacja > .popup > .box > .segment .value {
          padding: 5px 10px 10px; }
        #rezerwacja > .popup > .box > .segment .calculate::after {
          content: ' zł'; }
        #rezerwacja > .popup > .box > .segment .calculate::before {
          content: 'Suma:';
          padding-right: 5px; }
        #rezerwacja > .popup > .box > .segment .slider {
          position: relative;
          height: 10px;
          margin: 20px;
          background-color: silver; }
        #rezerwacja > .popup > .box > .segment .input {
          padding: 10px 20px;
          border: solid 1px #ededed;
          line-height: 30px;
          resize: none;
          -webkit-transition: background .3s linear;
          transition: background .3s linear; }
          #rezerwacja > .popup > .box > .segment .input.valid {
            background-color: lightgreen; }
          #rezerwacja > .popup > .box > .segment .input.invalid {
            background-color: lightcoral; }
        #rezerwacja > .popup > .box > .segment.head > .type {
          padding: 10px;
          font-size: 22px; }
        #rezerwacja > .popup > .box > .segment.body {
          overflow: auto; }
          #rezerwacja > .popup > .box > .segment.body form textarea {
            height: 200px; }
        #rezerwacja > .popup > .box > .segment.foot > .btn {
          margin: 5px 0;
          padding: 10px;
          border-radius: 10px;
          -webkit-transition-property: background, font;
          transition-property: background, font;
          -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
          -webkit-box-shadow: 0 0 0 2px #fff inset;
                  box-shadow: 0 0 0 2px #fff inset; }
          #rezerwacja > .popup > .box > .segment.foot > .btn:hover {
            background-color: transparent;
            color: #fff; }
        #rezerwacja > .popup > .box > .segment.foot > .msg {
          line-height: 30px;
          max-width: 300px;
          cursor: pointer; }
          #rezerwacja > .popup > .box > .segment.foot > .msg.success {
            color: lightgreen; }
          #rezerwacja > .popup > .box > .segment.foot > .msg.fail {
            color: lightcoral; }
    #rezerwacja > .popup:not(.open) {
      display: none; }
  #rezerwacja > .top {
    font-size: 30px;
    margin-bottom: 50px; }
  #rezerwacja > .bot {
    position: relative; }
    #rezerwacja > .bot > .view {
      overflow: hidden; }
      #rezerwacja > .bot > .view > .etap {
        width: 100%; }
        #rezerwacja > .bot > .view > .etap.date > .head > * {
          margin: 10px 0; }
        #rezerwacja > .bot > .view > .etap.date > .head > .today {
          width: 140px;
          font-size: 20px; }
        #rezerwacja > .bot > .view > .etap.date > .head > .button {
          height: 42px;
          padding: 0 20px;
          border-radius: 21px;
          font-size: 12px; }
        #rezerwacja > .bot > .view > .etap.date > .head > .month > .nav {
          height: 30px;
          padding: 0 20px; }
          #rezerwacja > .bot > .view > .etap.date > .head > .month > .nav.prev {
            border-radius: 20px 0 0 20px; }
          #rezerwacja > .bot > .view > .etap.date > .head > .month > .nav.next {
            border-radius: 0 20px 20px 0; }
        #rezerwacja > .bot > .view > .etap.date > .head > .month > .name {
          margin: 10px 0;
          padding: 0 20px;
          min-width: 230px;
          font-size: 22px;
          -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
                  order: -1; }
          @media (min-width: 768px) {
            #rezerwacja > .bot > .view > .etap.date > .head > .month > .name {
              -webkit-box-ordinal-group: 1;
                  -ms-flex-order: 0;
                      order: 0; } }
        #rezerwacja > .bot > .view > .etap.date > .body .cell {
          min-height: 60px; }
        #rezerwacja > .bot > .view > .etap.date > .body > .side {
          border-right: solid 1px #e8e6e7; }
          #rezerwacja > .bot > .view > .etap.date > .body > .side > .cell.hour {
            position: relative;
            padding: 12px;
            border: solid #e8e6e7;
            border-width: 1px 0 0 1px; }
            #rezerwacja > .bot > .view > .etap.date > .body > .side > .cell.hour:last-child {
              border-width: 1px 0 1px 1px; }
            #rezerwacja > .bot > .view > .etap.date > .body > .side > .cell.hour::before {
              content: '';
              position: absolute;
              left: 0;
              bottom: -1px;
              width: 100vw;
              border-bottom: solid 1px #e8e6e7; }
        #rezerwacja > .bot > .view > .etap.date > .body > .content {
          width: 100%;
          overflow: auto; }
          #rezerwacja > .bot > .view > .etap.date > .body > .content > .day {
            min-width: 100px; }
            #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.name {
              border: solid #e8e6e7;
              border-width: 1px 1px 0 1px; }
            #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day {
              position: relative;
              height: 960px;
              border: solid 1px #e8e6e7;
              overflow: hidden; }
              #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin {
                position: absolute;
                margin: 0 10px;
                left: 0;
                right: 0; }
                #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.busy {
                  background-color: gray;
                  border: 1px white;
                  border-style: dashed none; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.busy, #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.busy * {
                    cursor: not-allowed; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.busy .range {
                    color: #fff; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.busy::before {
                    content: "\f05e"; }
                #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.free {
                  background-color: #44d926; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.free, #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.free * {
                    cursor: pointer; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.free .range {
                    color: navy; }
                  #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin.free::before {
                    content: "\f067"; }
                #rezerwacja > .bot > .view > .etap.date > .body > .content > .day > .cell.day > .termin::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  color: white;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: 20px;
                  -webkit-transform: translate(-50%, 0%);
                          transform: translate(-50%, 0%); }
            #rezerwacja > .bot > .view > .etap.date > .body > .content > .day:nth-child(even) {
              background-color: #eee; }
        #rezerwacja > .bot > .view > .etap.summary .button {
          min-height: 46px;
          padding: 10px 46px;
          border-radius: 23px; }
        #rezerwacja > .bot > .view > .etap.summary > .title {
          margin-bottom: 20px;
          max-width: 100%;
          font-size: 34px; }
        #rezerwacja > .bot > .view > .etap.summary > .subtitle {
          margin-bottom: 80px;
          max-width: 100%;
          font-size: 25px; }
        #rezerwacja > .bot > .view > .etap.summary > .table {
          padding: 32px;
          width: 100%;
          max-width: 720px;
          border: solid 1px #e8e6e7; }
          #rezerwacja > .bot > .view > .etap.summary > .table .title {
            margin-bottom: 20px;
            font-size: 22px; }
          #rezerwacja > .bot > .view > .etap.summary > .table .subtitle {
            margin-bottom: 20px;
            font-size: 16px; }
          #rezerwacja > .bot > .view > .etap.summary > .table > .tcell.right {
            border-left: solid 1px #e8e6e7; }
        #rezerwacja > .bot > .view > .etap.summary > .button {
          margin-top: 70px; }
      @media (min-width: 768px) {
        #rezerwacja > .bot > .view {
          margin-right: 20px; } }

#blog > .inner > .wrapper > .element {
  position: relative;
  padding: 0; }
  #blog > .inner > .wrapper > .element > .box {
    width: initial;
    margin: 0 10px;
    padding: 10px 20px 0; }
    #blog > .inner > .wrapper > .element > .box > .pic {
      background-position: top; }
    #blog > .inner > .wrapper > .element > .box > .button {
      position: absolute; }

#spotkania {
  margin-top: 60px;
  padding: 50px 0; }
  #spotkania > .kafelki {
    min-height: 1000px;
    padding: 0; }
    #spotkania > .kafelki > .item > .box {
      padding: 50px; }
      #spotkania > .kafelki > .item > .box > .head {
        position: relative;
        padding: 40px 20px;
        height: 365px; }
        #spotkania > .kafelki > .item > .box > .head > .status {
          position: absolute;
          height: 40px;
          top: 0;
          right: 0;
          font-size: 30px; }
          #spotkania > .kafelki > .item > .box > .head > .status > .icon {
            padding: 0 10px; }
            #spotkania > .kafelki > .item > .box > .head > .status > .icon:not(.wait) {
              display: none; }
        #spotkania > .kafelki > .item > .box > .head > .title {
          margin-bottom: 20px;
          font-size: 32px; }
        #spotkania > .kafelki > .item > .box > .head > .subtitle {
          margin-bottom: 56px;
          font-size: 24px; }
        #spotkania > .kafelki > .item > .box > .head > .box {
          width: 160px;
          height: 50px;
          border: solid 2px rgba(255, 255, 255, 0.5);
          font-size: 24px; }
      #spotkania > .kafelki > .item > .box > .body > .line {
        padding: 10px 30px;
        min-height: 60px;
        height: initial;
        font-size: 14px; }
        #spotkania > .kafelki > .item > .box > .body > .line > * {
          line-height: 30px; }
        #spotkania > .kafelki > .item > .box > .body > .line:nth-child(even) {
          border: solid 2px #ededed;
          background-color: #f6f6f8; }
      #spotkania > .kafelki > .item > .box > .foot {
        margin: 15px 0; }
        #spotkania > .kafelki > .item > .box > .foot > .button {
          margin: 15px 0;
          padding: 0 30px;
          height: 50px;
          border-radius: 25px; }
    #spotkania > .kafelki > .item.accepted > .box > .head {
      background-color: #35b896; }
      #spotkania > .kafelki > .item.accepted > .box > .head > .status > .icon {
        display: block; }
        #spotkania > .kafelki > .item.accepted > .box > .head > .status > .icon:not(.accept) {
          display: none; }
    #spotkania > .kafelki > .item.outdate > .box > .head {
      background-color: #848494; }
      #spotkania > .kafelki > .item.outdate > .box > .head > .status > .icon.outdate {
        display: block; }

#single > .single > .inner > .wrapper > .box > .desc {
  padding-left: 80px; }
#single > .single > .inner > .wrapper > .box:nth-child(1) {
  padding: 0; }
#single > .single > .inner > .wrapper2 > .element {
  padding: 0; }
  #single > .single > .inner > .wrapper2 > .element > .box {
    width: auto;
    margin: 20px 10px;
    padding: 10px 18px; }
#single > .popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  #single > .popup:not(.open) {
    display: none; }
  #single > .popup > .box {
    margin: 50px; }
    #single > .popup > .box > .top {
      margin-bottom: 20px; }
      #single > .popup > .box > .top > .close {
        width: 40px;
        height: 40px; }
    #single > .popup > .box > .mid {
      width: 100%; }

footer > .footer > .inner > .box > .copy {
  line-height: 20px; }

footer > .footer > .inner > .box > .copy,
footer > .footer > .inner > .box > .author {
  color: #999997; }

#kalendarz {
  padding-top: 100px; }

/*# sourceMappingURL=override.css.map */