.font-light {
  color: #fff;
}

.bg-light {
  background-color: #fff;
}

.font-dark {
  color: #000;
}

.bg-dark {
  background-color: #000;
}

.font-blue-dark {
  color: #080d35;
}

.bg-blue-dark {
  background-color: #080d35;
}

.font-blue-dark2 {
  color: #0e1235;
}

.bg-blue-dark2 {
  background-color: #0e1235;
}

.font-violet {
  color: #2f3083;
}

.bg-violet {
  background-color: #2f3083;
}

.font-violet-light {
  color: #5056a4;
}

.bg-violet-light {
  background-color: #5056a4;
}

.font-pink {
  color: #ed1e4a;
}

.bg-pink {
  background-color: #ed1e4a;
}

.font-green {
  color: #35b896;
}

.bg-green {
  background-color: #35b896;
}

.font-gray {
  color: #e8e6e7;
}

.bg-gray {
  background-color: #e8e6e7;
}

body.spaceTop {
  padding-top: 90px;
}
body.spaceTop.admin {
  padding-top: 136px;
}
@media (min-width: 783px) {
  body.spaceTop.admin {
    padding-top: 122px;
  }
}
body.admin .main-nav {
  margin-top: 46px;
}
@media (min-width: 783px) {
  body.admin .main-nav {
    margin-top: 32px;
  }
}

.main-nav {
  top: 0;
}

.grid {
  max-width: 1240px;
  padding: 0 20px;
}

.hitbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.regular {
  font-family: 'Raleway-Regular';
}
.regular.alt {
  font-family: 'Montserrat-Regular';
}

.medium {
  font-family: 'Raleway-Medium';
}
.medium.alt {
  font-family: 'Montserrat-Medium';
}

.bold {
  font-family: 'Raleway-Bold';
}
.bold.alt {
  font-family: 'Montserrat-Bold';
}

.extraBold {
  font-family: 'Raleway-ExtraBold';
}
.extraBold.alt {
  font-family: 'Montserrat-ExtraBold';
}

.pointer, .pointer * {
  cursor: pointer;
}

#rezerwacja {
  margin: 100px 0 150px;
}
#rezerwacja > .popup {
  position: fixed;
  padding: 50px 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
#rezerwacja > .popup > .box {
  position: relative;
  padding: 10px;
}
#rezerwacja > .popup > .box > .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
#rezerwacja > .popup > .box > .head {
  margin: 20px 0 30px;
  font-size: 30px;
}
#rezerwacja > .popup > .box > .body > .pora {
  padding: 0 10px;
}
#rezerwacja > .popup > .box > .body > .pora > .item {
  margin-top: 10px;
  padding: 5px 0;
  border: solid 1px #000;
}
#rezerwacja > .popup:not(.open) {
  display: none;
}
#rezerwacja > .top {
  font-size: 30px;
  margin-bottom: 50px;
}
#rezerwacja > .bot {
  position: relative;
}
#rezerwacja > .bot > .view {
  margin-right: 20px;
  overflow: hidden;
}
#rezerwacja > .bot > .view > .etap.data > .head > .today {
  width: 140px;
  font-size: 20px;
}
#rezerwacja > .bot > .view > .etap.data > .head > .button {
  height: 42px;
  padding: 0 20px;
  border-radius: 21px;
  font-size: 12px;
}
#rezerwacja > .bot > .view > .etap.data > .head > .month > .nav {
  height: 30px;
  padding: 0 20px;
}
#rezerwacja > .bot > .view > .etap.data > .head > .month > .nav.prev {
  border-radius: 20px 0 0 20px;
}
#rezerwacja > .bot > .view > .etap.data > .head > .month > .nav.next {
  border-radius: 0 20px 20px 0;
}
#rezerwacja > .bot > .view > .etap.data > .head > .month > .name {
  padding: 0 20px;
  min-width: 230px;
  font-size: 26px;
}
#rezerwacja > .bot > .view > .etap.data > .body .tcell {
  height: 64px;
}
#rezerwacja > .bot > .view > .etap.data > .body > .thead > .tcell {
  padding-bottom: 10px;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell {
  padding: 12px 0 0 12px;
  border: solid 1px;
  border-color: #e8e6e7;
  -webkit-transition: border .3s linear;
  transition: border .3s linear;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell.disable {
  cursor: no-drop;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell.disable > .text {
  cursor: inherit;
  opacity: 0.4;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell:not(.disable), #rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell:not(.disable) * {
  cursor: pointer;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell:not(.disable):hover {
  border-color: #080d35;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell.today > .text {
  position: relative;
}
#rezerwacja > .bot > .view > .etap.data > .body > .tbody > .tcell.today > .text::after {
  content: '';
  position: absolute;
  margin-top: 3px;
  width: 17px;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #080d35;
}
#rezerwacja > .bot > .view > .etap.form > .title {
  margin-bottom: 38px;
  font-size: 22px;
}
#rezerwacja > .bot > .view > .etap.form > form.form {
  max-width: 640px;
}
#rezerwacja > .bot > .view > .etap.form > form.form > .label {
  margin: 16px 0;
  font-size: 16px;
}
#rezerwacja > .bot > .view > .etap.form > form.form > .input {
  margin-bottom: 10px;
  padding: 0 28px;
  height: 46px;
  font-size: 14px;
  border: solid 1px #e8e6e7;
}
#rezerwacja > .bot > .view > .etap.form > form.form > .textarea {
  padding: 30px 20px;
  height: 170px;
  border: solid 1px #e8e6e7;
  line-height: 26px;
  resize: none;
}
#rezerwacja > .bot > .view > .etap.summary .button {
  height: 46px;
  padding: 0 46px;
  border-radius: 23px;
}
#rezerwacja > .bot > .view > .etap.summary > .title {
  margin-bottom: 20px;
  font-size: 34px;
}
#rezerwacja > .bot > .view > .etap.summary > .subtitle {
  margin-bottom: 80px;
  font-size: 25px;
}
#rezerwacja > .bot > .view > .etap.summary > .table {
  padding: 32px;
  width: 100%;
  max-width: 720px;
  border: solid 1px #e8e6e7;
}
#rezerwacja > .bot > .view > .etap.summary > .table .title {
  margin-bottom: 20px;
  font-size: 22px;
}
#rezerwacja > .bot > .view > .etap.summary > .table .subtitle {
  margin-bottom: 20px;
  font-size: 16px;
}
#rezerwacja > .bot > .view > .etap.summary > .table > .tcell.right {
  border-left: solid 1px #e8e6e7;
}
#rezerwacja > .bot > .view > .etap.summary > .button {
  margin-top: 70px;
}
#rezerwacja > .bot > .side {
  padding: 26px 30px 50px;
}
#rezerwacja > .bot > .side > .segment {
  min-width: 294px;
  padding: 0 20px;
}
#rezerwacja > .bot > .side > .top {
  height: 140px;
  margin-bottom: 20px;
}
#rezerwacja > .bot > .side > .top > .title {
  line-height: 33px;
  font-size: 22px;
}
#rezerwacja > .bot > .side > .top > .cena {
  margin-top: 13px;
  font-size: 16px;
}
#rezerwacja > .bot > .side > .bot {
  height: 100px;
  margin-bottom: 50px;
}
#rezerwacja > .bot > .side > .bot > .text {
  line-height: 34px;
}
#rezerwacja > .bot > .side > .button {
  min-width: 194px;
  height: 44px;
  padding: 0 35px;
  border-radius: 22px;
  line-height: 24px;
  font-size: 16px;
}
#rezerwacja > .bot > .side > .button > .icon {
  font-size: 30px;
}

#blog > .inner > .wrapper > .element {
  position: relative;
}
#blog > .inner > .wrapper > .element > .box > .button {
  position: absolute;
}

#spotkania {
  margin-top: 60px;
  padding: 50px 0;
}
#spotkania > .kafelki {
  min-height: 1000px;
  padding: 0;
}
#spotkania > .kafelki > .item > .box {
  padding: 50px;
}
#spotkania > .kafelki > .item > .box > .head {
  position: relative;
  padding: 40px 20px;
  height: 365px;
}
#spotkania > .kafelki > .item > .box > .head > .status {
  position: absolute;
  height: 40px;
  top: 0;
  right: 0;
  font-size: 30px;
}
#spotkania > .kafelki > .item > .box > .head > .status > .icon {
  padding: 0 10px;
}
#spotkania > .kafelki > .item > .box > .head > .status > .icon:not(.wait) {
  display: none;
}
#spotkania > .kafelki > .item > .box > .head > .title {
  margin-bottom: 20px;
  font-size: 32px;
}
#spotkania > .kafelki > .item > .box > .head > .subtitle {
  margin-bottom: 56px;
  font-size: 24px;
}
#spotkania > .kafelki > .item > .box > .head > .box {
  width: 160px;
  height: 50px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  font-size: 24px;
}
#spotkania > .kafelki > .item > .box > .body > .line {
  padding: 10px 30px;
  min-height: 60px;
  height: initial;
  font-size: 14px;
}
#spotkania > .kafelki > .item > .box > .body > .line > * {
  line-height: 30px;
}
#spotkania > .kafelki > .item > .box > .body > .line:nth-child(even) {
  border: solid 2px #ededed;
  background-color: #f6f6f8;
}
#spotkania > .kafelki > .item > .box > .foot {
  margin: 15px 0;
}
#spotkania > .kafelki > .item > .box > .foot > .button {
  margin: 15px 0;
  padding: 0 30px;
  height: 50px;
  border-radius: 25px;
}
#spotkania > .kafelki > .item.accepted > .box > .head {
  background-color: #35b896;
}
#spotkania > .kafelki > .item.accepted > .box > .head > .status > .icon {
  display: block;
}
#spotkania > .kafelki > .item.accepted > .box > .head > .status > .icon:not(.accept) {
  display: none;
}
#spotkania > .kafelki > .item.outdate > .box > .head {
  background-color: #848494;
}
#spotkania > .kafelki > .item.outdate > .box > .head > .status > .icon.outdate {
  display: block;
}
